html{
    --yellow: #ffbc48;
    --black: #000;


}
    


/* Home Section */


.home {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/ingredients-960w.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 150px;
    color: #fff;
}

.home p {
    margin: 0;
    font-size: 18px;
}

.home h1 {
    margin: 10px 0 20px;
    font-size: 72px;
    line-height: 1em;
    font-family: "Fira Sans", sans-serif;
}

.tag {
    display: flex;
    justify-content: start;
    align-items: center;
}

.tag p {
    color: #353a42;
    font-weight: 700;
    padding: 0px 10px;
}

.home-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Fira Sans", sans-serif;
    margin-top: 20px;
}

.home-child-tags {
    text-align: center;
    text-transform: uppercase;
}

.home-child-tags h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 800;
}

.home-child-tags p {
    color: #353a42;
    font-weight: 800;
}

.home-child-tags p span {
    text-decoration: underline;
    text-decoration-style: dotted;
}



/* nav bar */

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background-color: #232028;
    list-style-type: none;
}


.menu ul li a {
    
    font-size: 22px;
    font-weight: 800;
    font-family: "Fira Sans", sans-serif;
    text-transform: capitalize;
    
}

 /* main content */
.right-section-content {
    padding: 0 20px;
}

.right-section-content h2 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
}


/* .quote {
    border-left: 4px solid #ffbc48;
    padding-left: 20px;
} */

blockquote{

    border-left: 5px solid var(--yellow);
    /* border-left: 5px solid var(--black); */
    padding-left: 20px;
    font-style: italic; 
}




